{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header outer {{#if @blog.cover_image}}"
    style="background-image: url({{@site.cover_image}}){{else}}no-cover{{/if}}">
    {{> "site-nav-toggle"}}
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {{#if @blog.logo}}
                {{!-- <img class="site-logo" src="{{@site.logo}}" alt="{{@site.title}}" /> --}}
                {{!-- <img class="site-logo" src="assets/images/bare-title.svg" alt="{{@site.title}}" /> --}}
                {{else}}
                {{@site.title}}
                {{/if}}
            </h1>
            <h2 class="site-description">Fashion ad hosting for fashion blogs.</h2>
            <h3 class="site-subdescription">Helping brands find love and bloggers make money.</h3>
            <a class="button-default" href="/influencers/">Sign up early</a>
        </div>

    </div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">

        <div class="section-one">
            <div class="wordpress-plugin-background">
                <img class="wordpress-plugin-mockup" src="assets/images/landing-page-background-one_optimized.png" />
                {{!-- <h3 class="plugin-launch-detail">Coming soon to Wordpress Plugins</h3> --}}
            </div>
        </div>

        <div class="section-two">
            <div class="section-two-info">
                <h2>We’re making ads look good next to influential content.</h2>
                <h3>Pretty as a Polaroid.</h3>
                <h3>Relevant to your audience.</h3>
                <h3>$uper clickable.</h3>
            </div>
            <img class="section-two-mockup" src="assets/images/missmoorestyle-with-ad_optimized.png" />
        </div>

        <div class="frame-options">
            <h2>Digital <i>Gloss.</i></h2>
            <h3>Sleek frames designed for beautiful ads and modern websites.</h3>
            <h4><i>(If Warby Parker made frames for digital ads, this is what they'd look like.)</i></h4>
        </div>
        
        <div class="embeddable-ad-frame" >
            <div class="labeled-ad polaroid">
                <div class="ad-frame-outer">
                    <img class="ad-frame-inner" src="assets/images/ads/celine.jpg"/>
                    <div class="ad-label-container">
                        <p class="ad-label">Advertisement</p>
                        <div class="ad-label-right">
                            <img class="ad-icon thumbs-up" src="assets/icons/ads/thumbs-up.svg"/>
                            <img class="ad-icon thumbs-down" src="assets/icons/ads/thumbs-down.svg"/>
                            <img class="ad-icon report-issue" src="assets/icons/ads/report-issue.svg"/>
                        </div>
                    </div>
                </div>
                <p class="ad-name">Polaroid</p>
            </div>


             <div class="labeled-ad black-frame">
                <div class="ad-frame-outer">
                    <img class="ad-frame-inner" src="assets/images/ads/st-laurent-split.jpg"/>
                    <div class="ad-label-container">
                        <p class="ad-label long">Advertisement</p>
                        <div class="ad-label-right">
                            <img class="ad-icon thumbs-up" src="assets/icons/ads/thumbs-up.svg"/>
                            <img class="ad-icon thumbs-down" src="assets/icons/ads/thumbs-down.svg"/>
                            <img class="ad-icon report-issue" src="assets/icons/ads/report-issue.svg"/>
                        </div>
                    </div>
                </div>
                <p class="ad-name">Dark Frame<br><span class="less-attention">(For ads with blocks of whitespace)</span></p>
            </div>


            <div class="labeled-ad squared">
                <div class="ad-frame-outer">
                    <img class="ad-frame-inner" src="assets/images/ads/saint-laurent-mens.jpg"/>
                    <div class="ad-label-container">
                        <p class="ad-label long">Advertisement</p>
                        <div class="ad-label-right">
                            <img class="ad-icon thumbs-up" src="assets/icons/ads/thumbs-up.svg"/>
                            <img class="ad-icon thumbs-down" src="assets/icons/ads/thumbs-down.svg"/>
                            <img class="ad-icon report-issue" src="assets/icons/ads/report-issue.svg"/>
                        </div>
                    </div>
                </div>
                <p class="ad-name">Squared</p>
            </div>


             <div class="labeled-ad borderless">
                <div class="ad-frame-outer">
                    <img class="ad-frame-inner" src="assets/images/ads/ad-kate-spade.jpg"/>
                    <div class="ad-label-container">
                        <p class="ad-label long">Advertisement</p>
                        <div class="ad-label-right">
                            <img class="ad-icon thumbs-up" src="assets/icons/ads/thumbs-up.svg"/>
                            <img class="ad-icon thumbs-down" src="assets/icons/ads/thumbs-down.svg"/>
                            <img class="ad-icon report-issue" src="assets/icons/ads/report-issue.svg"/>
                        </div>
                    </div>
                </div>
                <p class="ad-name">Borderless</p>
            </div>

            <div class="labeled-ad flat">
                <div class="ad-frame-outer">
                    <img class="ad-frame-inner" src="assets/images/ads/warby-carly.jpg"/>
                    <div class="ad-label-container">
                        <p class="ad-label long">Advertisement</p>
                        <div class="ad-label-right">
                            <img class="ad-icon thumbs-up" src="assets/icons/ads/thumbs-up.svg"/>
                            <img class="ad-icon thumbs-down" src="assets/icons/ads/thumbs-down.svg"/>
                            <img class="ad-icon report-issue" src="assets/icons/ads/report-issue.svg"/>
                        </div>
                    </div>
                </div>
                <p class="ad-name">Flat</p>
            </div>

            <div class="labeled-ad transparent-label">
                <div class="ad-frame-outer">
                    <img class="ad-frame-inner" src="assets/images/ads/Isabel-Marant-borderless.jpg"/>
                    <div class="ad-label-container">
                        <p class="ad-label long">Advertisement</p>
                        <div class="ad-label-right">
                            <img class="ad-icon thumbs-up" src="assets/icons/ads/thumbs-up.svg"/>
                            <img class="ad-icon thumbs-down" src="assets/icons/ads/thumbs-down.svg"/>
                            <img class="ad-icon report-issue" src="assets/icons/ads/report-issue.svg"/>
                        </div>
                    </div>
                </div>
                <p class="ad-name">Transparent Label<br><span class="less-attention">(Also for ads with blocks of whitespace)</span></p>
            </div>

        </div>

         <div class="section-keywords">
            <div class="section-keywords-info">
                <h2>Fashion-specific keywords match the right ads to the right content.</h2>
                <h3>Humans with branded perspectives (<i>not algorithms</i>) provide the context and connection permissions that do the matching between advertiser and publisher.</h3>
            </div>
            <img class="section-keywords-mockup" src="assets/images/fashionkeywordmap_optimized.png" />
        </div>

        <div class="section-how-we-build">
            <h2 class="endorsement">Built with influencers.</br> Built with brands.</h2>
            <h3>We are a direct-to-community tech company. <br><br> We talk directly with brands, consumers, and influencers to develop thoughtful tools for fashion.</h3>
            <p>Join our Slack and help us build tools that make running your brand easier.</p>
            <a class="button-default join-slack" href="/join-our-slack/">Join our Slack</a>
        </div>

        {{!-- <div class="section-three">
            <h2>How it works:</h2>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-register" role="tabpanel"
                    aria-labelledby="nav-register-tab">
                    <img src="assets/images/temp-registration-mockup.png" /></div>
                <div class="tab-pane fade" id="nav-generate-shortcode" role="tabpanel"
                    aria-labelledby="nav-generate-shortcode-tab">
                    <img src="assets/images/temp-registration-mockup.png" /></div>
                <div class="tab-pane fade" id="nav-publish" role="tabpanel" aria-labelledby="nav-publish-tab">
                    <img src="assets/images/temp-registration-mockup.png" /></div>
                <div class="tab-pane fade" id="nav-get-paid" role="tabpanel" aria-labelledby="nav-get-paid-tab">
                    <img src="assets/images/temp-registration-mockup.png" /></div>
            </div>
            <nav>
                <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-register-tab" data-toggle="tab" href="#nav-home"
                        role="tab" aria-controls="nav-register" aria-selected="true">
                        <img src="assets/icons/icon-number-one.svg" />
                        <br>
                        Register<br>
                        <p>Register your blog to get an API key.</p>
                    </a>
                    <a class="nav-item nav-link" id="nav-generate-shortcode-tab" data-toggle="tab" href="#nav-profile"
                        role="tab" aria-controls="nav-generate-shortcode" aria-selected="false">
                        <img src="assets/icons/icon-number-two.svg" />
                        <br>
                        Generate an ad shortcode<br>
                        <p>Use the Voile Ads fashion keywords to generate a reusable shortcode. Copy and paste to embed
                            ads in your content.</p>
                    </a>
                    <a class="nav-item nav-link" id="nav-publish-tab" data-toggle="tab" href="#nav-contact" role="tab"
                        aria-controls="nav-publish" aria-selected="false">
                        <img src="assets/icons/icon-number-three.svg" />
                        <br>
                        Publish Content<br>
                        <p>Hit “publish” and your audience sees ads relevant to topics you’re writing about.</p>
                    </a>
                    <a class="nav-item nav-link" id="nav-get-paid-tab" data-toggle="tab" href="#nav-contact" role="tab"
                        aria-controls="nav-get-paid" aria-selected="false">
                        <img src="assets/icons/icon-number-four.svg" />
                        <br>
                        Get Paid<br>
                        <p>We make it easy to understand metrics, share them, and get paid.</p>
                    </a>
                </div>
            </nav>
        </div> --}}

        <div class="section-reporting">
            <img class="section-reporting-mockup" src="assets/images/adhoverstates_optimized.png"/>
            <div class="section-reporting-info">
                <h2>You control what your audience sees. We'll let you know how they're responding.</h2>
                <br><br>
                <p>We make it easy for your audience to stop seeing ads they don’t like, see more of the types of ads they <i>do</i> like, 
                    <br><br><span class="bigger-and-bolder"><i>and most importantly...</i></span><br>we make it easy for audiences, bloggers, and marketers to report offensive or irrelevant media.
                </p>

            </div>
        </div>

        <div class="section-four">
            <h2>Your website. Your brand. Your business.</h2>
            <a class="button-default sign-up-early" href="/influencers/">Sign up Early</a>
        </div>

        <div class="section-five">
            <h2>Fashion brands <a href="/brands/">Learn More Here></a></h2>
        </div>

    </div>
</main>